<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE A JOB</title>
    <link rel="icon" href="/images/img/img_logo.png">
    <link rel="stylesheet" href="/css/header.css" as="style">
    <link rel="stylesheet" href="/css/footer.css" as="style">
    <link rel="stylesheet" href="/css/menu.css" as="style">
    <link rel="stylesheet" href="/css/common.css" as="style">
    <link rel="stylesheet" href="/css/page_css/create_job.css" as="style">
</head>

<body>
    <%- include('layouts/header', {}); %>
        <div class="container_Trangchu">
            <div class="wrapper">
                <div class="wrapper_child">
                    <!-- Banner -->
                    <div class="banner_top">
                        <div class="box_banner">
                            <div class="content_bn_left">
                                <h1 class="title_banner">
                                    <span class="font32_800 ">Post Job Listings for Free Effectively on Reputable
                                        Recruitment Websites</span>
                                </h1>
                                <p class="font20_500">+30,000 potential candidates</p>
                                <a href="/">
                                    <button class="btn_create_job"><img src="/images/icon/iconpencil.svg" alt="pencil"
                                            width="32" height="32">CREATE NOW</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="box_wrap">
                        <div class="atrial_exp">
                            <img src="/images/icon/noto_balance-scale.svg" alt="balance">
                            <h2><span class="h2_tt">ATRIAL EXPERIENCE</span></h2>
                        </div>
                        <div class="table_atrial" id="table-atrial">
                            <table class="pricing-table">
                                <thead>
                                    <tr>
                                        <th>Packet</th>
                                        <th>Basic</th>
                                        <th>Premium</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Posting job ad</td>
                                        <td>1 per month</td>
                                        <td>Unlimited</td>
                                    </tr>
                                    <tr>
                                        <td>Increase display</td>
                                        <td><img src="/images/icon/iconoir_xbox-x.svg" alt="x" class="icon-cross"></img>
                                        </td>
                                        <td><img src="/images/icon/teenyicons_tick-circle-outline.svg" alt="v"
                                                class="icon-check"></img></td>
                                    </tr>
                                    <tr>
                                        <td>Prominent job effect</td>
                                        <td><img src="/images/icon/iconoir_xbox-x.svg" alt="x" class="icon-cross"></img>
                                        </td>
                                        <td><img src="/images/icon/teenyicons_tick-circle-outline.svg" alt="v"
                                                class="icon-check"></img></td>
                                    </tr>
                                    <tr>
                                        <td>Brand promotion</td>
                                        <td><img src="/images/icon/iconoir_xbox-x.svg" alt="x" class="icon-cross"></img>
                                        </td>
                                        <td><img src="/images/icon/teenyicons_tick-circle-outline.svg" alt="v"
                                                class="icon-check"></img></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button class="select-btn">Select</button></td>
                                        <td><button class="select-btn">Select</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box_wrap">
                        <div class="pre_package">
                            <img src="/images/icon/emojione-v1_right-speaker.svg" alt="speaker">
                            <h2><span class="h2_tt"> FREEMIUM PACKAGE AT JOB247</span></h2>
                        </div>
                        <div class="list_packege">
                            <div class="package_child">
                                <div class="detail_packege">
                                    <div class="head_packege">
                                        <img src="/images/icon/tdesign_saving-pot.svg" alt="pot">
                                        <p class="font_16">Saving</p>
                                    </div>
                                    <div class="content_packege">
                                        <p>Users can post 1 job posting for free every month, saving costs on accessing
                                            high-quality candidate profiles.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="package_child">
                                <div class="detail_packege">
                                    <div class="head_packege">
                                        <img src="/images/icon/post-job.svg" alt="search-job">
                                        <p class="font_16">Post a job easily</p>
                                    </div>
                                    <div class="content_packege">
                                        <p>The new interface is designed to be streamlined, allowing users to complete
                                            job postings with just a few simple steps.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="package_child">
                                <div class="detail_packege">
                                    <div class="head_packege">
                                        <img src="/images/icon/divere.svg" alt="diverse">
                                        <p class="font_16">Diverse Talent Pool</p>
                                    </div>
                                    <div class="content_packege">
                                        <p>Job247 combines 3 leading job websites in Philippines, bringing in over 10
                                            million high-quality, vetted candidate profiles.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="package_child">
                                <div class="detail_packege">
                                    <div class="head_packege">
                                        <img src="/images/icon/Recruiting-Employee-Folder-Resume-Document--Streamline-Ultimate 1.svg"
                                            alt="pot">
                                        <p class="font_16">Easy CV Management</p>
                                    </div>
                                    <div class="content_packege">
                                        <p>The simple interface helps recruiters track and manage CVs with
                                            straightforward reports on recruitment effectiveness.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Candiate List -->
                    <div class="box_wrap cda_box1">
                        <div class="candiate_box">
                            <h2><span class="h2_tt">CANDIATE LIST</span></h2>
                        </div>
                        <div class="candiate_list">
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination_com" id="vllc_pag">
                            <div class="show_tag show_left" style="cursor: pointer;"><img
                                    src="/images/icon/small-left.svg" alt="Lùi" id="vllc_prev"></div>
                            <div class="list_pag">
                                <div class="item_pag active" id="vllc_1">1</div>
                                <div class="item_pag" id="vllc_2">2</div>
                                <div class="item_pag" id="vllc_2">3</div>
                                <div class="show_tag show_right"><img src="/images/icon/etc.svg" alt="etc"
                                        id="vllc_next"></div>
                                <div class="item_pag" id="vllc_2">10</div>
                            </div>
                            <div class="show_tag show_right" style="cursor: pointer;"><img
                                    src="/images/icon/small-right.svg" alt="Tiến" id="vllc_next"></div>
                        </div>
                    </div>
                    <!-- FAQ -->
                    <div class="box_wrap">
                        <div class="question_box">
                            <img id="faqImage" src="/images/img/FAQ.png" alt="FAQ" style="width: 100%; height: auto;">
                        </div>
                        <div class="modal_FAQ">
                            <div class="modal_FAQ-content">
                                <div class="modal_FAQ-header">
                                    <h2><span class="h2_tt">FAQ</span></h2>
                                </div>
                                <div class="modal_FAQ-body">
                                    <div class="list_FAQ">
                                        <div class="question">
                                            <div class="question_title">
                                                How to post a job for free?
                                                <button class="btn_plusFAQ"><img src="/images/icon/plusFAQ.svg"
                                                        alt="more" width="30" height="30"></button>
                                            </div>
                                            <div class="answer">
                                                <p>Easy registration for free job posting in just 3 steps.<br>
                                                    Step 1: Click on the "Experience free job posting" or "Register now"
                                                    box.<br>
                                                    Step 2: Fill in the required information according to the form to
                                                    create an account.<br>
                                                    Step 3: Experience free job posting on vieclam24h.vn and receive
                                                    suitable candidate CVs.</p>
                                            </div>
                                        </div>
                                        <div class="question">
                                            <div class="question_title">
                                                Can a free job posting be upgraded to a paid posting?
                                                <button class="btn_plusFAQ"><img src="/images/icon/plusFAQ.svg"
                                                        alt="more" width="30" height="30"></button>
                                            </div>
                                            <div class="answer">
                                                <p>
                                                    The recruiter can completely switch the activation from
                                                    a free job posting to a paid job posting
                                                    h using other service packages, including standard job posting,
                                                    advanced
                                                    job posting, purchasing a combo, or purchasing a service point
                                                    package.
                                                    If the recruiter wants to activate a paid job posting package,
                                                    please
                                                    click on the "Get advice now" button to receive direct support from
                                                    a
                                                    consultant.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question">
                                            <div class="question_title">
                                                Why do I need to verify my phone number when registering for the free
                                                job posting package?
                                                <button class="btn_plusFAQ"><img src="/images/icon/plusFAQ.svg"
                                                        alt="more" width="30" height="30"></button>
                                            </div>
                                            <div class="answer">
                                                <p>
                                                    Verifying the phone number through text message is one of the
                                                    mandatory
                                                    requirements according to the rules and terms of use of
                                                    vieclam24h.vn
                                                    when the recruiter participates in the trial job posting service
                                                    package.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question">
                                            <div class="question_title">
                                                How to activate the free job posting package after creating a job
                                                posting?
                                                <button class="btn_plusFAQ"><img src="/images/icon/plusFAQ.svg"
                                                        alt="more" width="30" height="30"></button>
                                            </div>
                                            <div class="answer">
                                                <p>
                                                    The recruiter will post job postings for free in the recruiter's
                                                    account
                                                    and can activate the posting in the job posting management page.
                                                    After
                                                    activating the posting on the job posting management page, the job
                                                    posting will automatically appear on vieclam24h.vn. The job posting
                                                    will
                                                    be verified and marked as authenticated by the Viec Lam 24h team
                                                    once it
                                                    meets the required standards.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="question">
                                            <div class="question_title">
                                                How many contacts will recruiters receive from the resumes submitted to
                                                the free job posting?
                                                <button class="btn_plusFAQ"><img src="/images/icon/plusFAQ.svg"
                                                        alt="more" width="30" height="30"></button>
                                            </div>
                                            <div class="answer">
                                                <p>
                                                    Three contacts are completely free, and if the recruiter finds them
                                                    suitable, they can use service points or switch to paid job postings
                                                    to
                                                    purchase additional contacts.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-FAQ">
                            <button class="btn_FAQ">See more >></button>
                        </div>
                    </div>
                    <!-- Candiate max-width 1024 -->
                    <div class="box_wrap cda_box2">
                        <div class="candiate_box">
                            <h2><span class="h2_tt">CANDIATE LIST</span></h2>
                        </div>
                        <div class="candiate_list">
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="infor-card">
                                    <div class="profile-image">
                                        <img src="/images/img/avt_candiate.png" alt="Profile Image">
                                    </div>
                                    <div class="profile-details">
                                        <h2>Sales Staff</h2>
                                        <p class="name">Isabelita Flor de Maria Reyes</p>
                                        <p class="location">
                                            <img src="/images/icon/candiate_location.svg" alt="location"
                                                class="location-icon">
                                            Metro Manila, 1100, Philippines
                                        </p>
                                    </div>
                                    <div class="profile-actions">
                                        <button class="chat-btn">Chat</button>
                                        <a href="#" class="see-more">see more &#187;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card_430">
                                <div class="profile">
                                    <img src="/images/img/avt_candiate.png" alt="Profile Image" class="profile-img">
                                    <div class="profile-details">
                                        <h3>Sales Staff</h3>
                                        <p>Isabelita Flor de Maria Reyes</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="location">
                                        <img src="/images/icon/candiate_location.svg" alt="location" class="location-icon">
                                        <span>Metro Manila</span>
                                    </div>
                                    <div class="details">
                                        <img src="/images/icon/candiate_knlv.svg" alt="location" class="location-icon">
                                        <a class="detail_a" href="/">
                                            <span>Details in CV</span>
                                        </a>
                                    </div>
                                </div>
                                <button class="chat-btn">Chat</button>
                            </div>
                            <div class="card_430">
                                <div class="profile">
                                    <img src="/images/img/avt_candiate.png" alt="Profile Image" class="profile-img">
                                    <div class="profile-details">
                                        <h3>Sales Staff</h3>
                                        <p>Isabelita Flor de Maria Reyes</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="location">
                                        <img src="/images/icon/candiate_location.svg" alt="location" class="location-icon">
                                        <span>Metro Manila</span>
                                    </div>
                                    <div class="details">
                                        <img src="/images/icon/candiate_knlv.svg" alt="location" class="location-icon">
                                        <a class="detail_a" href="/">
                                            <span>Details in CV</span>
                                        </a>
                                    </div>
                                </div>
                                <button class="chat-btn">Chat</button>
                            </div>
                            <div class="card_430">
                                <div class="profile">
                                    <img src="/images/img/avt_candiate.png" alt="Profile Image" class="profile-img">
                                    <div class="profile-details">
                                        <h3>Sales Staff</h3>
                                        <p>Isabelita Flor de Maria Reyes</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="location">
                                        <img src="/images/icon/candiate_location.svg" alt="location" class="location-icon">
                                        <span>Metro Manila</span>
                                    </div>
                                    <div class="details">
                                        <img src="/images/icon/candiate_knlv.svg" alt="location" class="location-icon">
                                        <a class="detail_a" href="/">
                                            <span>Details in CV</span>
                                        </a>
                                    </div>
                                </div>
                                <button class="chat-btn">Chat</button>
                            </div>
                            <div class="card_430">
                                <div class="profile">
                                    <img src="/images/img/avt_candiate.png" alt="Profile Image" class="profile-img">
                                    <div class="profile-details">
                                        <h3>Sales Staff</h3>
                                        <p>Isabelita Flor de Maria Reyes</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="location">
                                        <img src="/images/icon/candiate_location.svg" alt="location" class="location-icon">
                                        <span>Metro Manila</span>
                                    </div>
                                    <div class="details">
                                        <img src="/images/icon/candiate_knlv.svg" alt="location" class="location-icon">
                                        <a class="detail_a" href="/">
                                            <span>Details in CV</span>
                                        </a>
                                    </div>
                                </div>
                                <button class="chat-btn">Chat</button>
                            </div>
                        </div>
                        <div class="pagination_com" id="vllc_pag">
                            <div class="show_tag show_left" style="cursor: pointer;"><img
                                    src="/images/icon/small-left.svg" alt="Lùi" id="vllc_prev"></div>
                            <div class="list_pag">
                                <div class="item_pag active" id="vllc_1">1</div>
                                <div class="item_pag" id="vllc_2">2</div>
                                <div class="item_pag" id="vllc_2">3</div>
                                <div class="show_tag show_right"><img src="/images/icon/etc.svg" alt="etc"
                                        id="vllc_next"></div>
                                <div class="item_pag" id="vllc_2">10</div>
                            </div>
                            <div class="show_tag show_right" style="cursor: pointer;"><img
                                    src="/images/icon/small-right.svg" alt="Tiến" id="vllc_next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('layouts/footer', {}); %>
            <script>
                // function toggleMoreInfo(event) {
                //     event.preventDefault();
                //     const moreInfo = event.target.closest('.profile-card').querySelector('.more-info');
                //     const location = event.target.closest('.profile-card').querySelector('.location');
                //     if (moreInfo.style.display === 'flex') {
                //         moreInfo.style.display = 'none';
                //         location.style.display = 'flex';
                //     } else {
                //         moreInfo.style.display = 'flex';
                //         location.style.display = 'none';
                //     }
                // }

                document.querySelector('.btn_FAQ').addEventListener('click', function () {
                    const modal = document.querySelector('.modal_FAQ');
                    modal.style.display = (modal.style.display === 'block') ? 'none' : 'block';
                });

                document.querySelectorAll('.btn_plusFAQ').forEach(button => {
                    button.addEventListener('click', function () {
                        const answer = this.closest('.question').querySelector('.answer');
                        const icon = this.querySelector('img');

                        // Toggle the display of the answer
                        answer.style.display = answer.style.display === 'block' ? 'none' : 'block';

                        // Toggle the plus/minus icon
                        if (icon.src.includes('plusFAQ.svg')) {
                            icon.src = '/images/icon/minusFAQ.svg';  // Change to minus
                        } else {
                            icon.src = '/images/icon/plusFAQ.svg';  // Change back to plus
                        }
                    });
                });
                function updateImageSrc() {
                    var img = document.getElementById("faqImage");
                    if (window.innerWidth <= 430) {
                        img.src = "/images/img/FAQ_430.png";
                    } else {
                        img.src = "/images/img/FAQ.png";
                    }
                }

                // Gọi hàm khi tải trang
                updateImageSrc();

                // Lắng nghe sự kiện resize để thay đổi khi kích thước màn hình thay đổi
                window.addEventListener("resize", updateImageSrc);
            </script>
</body>

</html>