<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job 247 Dashboard</title>
    <%- include('layouts/common_library.ejs'); %>
    <link rel="stylesheet" href="/css/managementUV.css?v=<%= data.version %>">
</head>
<body>
    <!-- Main Content -->
    <div class="main-content">
    <main>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <!-- <h2>Job 247</h2> -->
                <img src="/images/managementUV/Frame 1321317478.png" alt="Company Logo">
            </div>

            <div class="sidebar-user-info">
                <div>
                    <img src="/images/managementUV/Ellipse 1.svg" alt="User Profile">
                    <h3>Lê Trung Lưu</h3>
                    <div style="display: flex; align-items: center;" class="search-allow">Allow employers to search <a href=""><img src="/images/managementUV/Group 1000007338.png" alt=""></div></a>
                </div>
            </div>

            <div class="others">

                <div class="sidebar-hover">    
                    <a style="text-decoration: none;" href=""><img style="padding-left: 20px;" src="/images/managementUV/pc.png" alt=""> Account management</a>
                </div>

                <div>
                    <a href=""><div class="sidebar-items"><img style="padding-left: 20px;" src="/images/managementUV/profile.png" alt=""> My Profile <img class="sidebar-vector" src="/images/managementUV/Vector.png" alt=""></div></a>
                    <div class="sidebar-sub-items"><a href="">Online Profile</a></div> 
                    <div class="sidebar-sub-items"><a href="">My CV</a></div> 
                    
                </div>

                <div>
                    <a href=""><div class="sidebar-items"><img style="padding-left: 20px;" src="/images/managementUV/my-jobs.png" alt="">My Jobs <img class="sidebar-vector" src="/images/managementUV/Vector.png" alt=""></div></a>          
                    <div class="sidebar-sub-items"><a href="">Aplied Jobs</a></div> 
                    <div class="sidebar-sub-items"><a href="">Recomended Jobs</a></div> 
                </div>

                <div>
                    <a href=""><div class="sidebar-items"><img style="padding-left: 20px;" src="/images/managementUV/chat365.png" alt="">Chat365</div></a>
                </div>

                <div>
                    <a href=""><div class="sidebar-items"><img style="padding-left: 20px;" src="/images/managementUV/setting.png" alt="">Account settings <img class="sidebar-vector" src="/images/managementUV/Vector.png" alt=""></div></a>
                    <div class="sidebar-sub-items"><a href="">Change the passwords</a></div>
                </div>

                <div class="dang-xuat">
                    <a style="color: #285A9B;" class="logout-btn" href=""><img src="/images/managementUV/dang-xuat.png" alt=""> Đăng xuất</a>
                </div>
            </div>

        </div>

        <!-- User Infos -->

        <div class="sub-main">

            <div class="user-info">
                <div class="user-info-item avatar">
                    <img src="/images/managementUV/Ellipse 2.png" alt="">
                </div>
                <div class="user-info-item">
                    <p>Support staff: <a href="">Mrs.Nguyễn Hồng</a></p>
                </div>
                <div class="user-info-item">
                    <p>Phone number: <a href="">0972319116</a></p>
                </div>
                <div class="user-info-item">
                    <p>Email: <a href="">nguyenhongg2609@gmail.com</a></p>
                </div>
                </div>
        
            <!-- Job Stats -->
            <div class="stats">
                <div class="stat-item"> 
                    <div>
                        <h5>Applied</h5>
            <img src="/images/managementUV/ph_handshake-light.png" alt="">
                    </div>
                    <p>0</p>
                </div>
                <div class="stat-item"><div>
        
                    <h5>Appropriate Job</h5>
                    <img src="/images/managementUV/mdi_briefcase-search-outline.png" alt="">
                </div>
                    <p>0</p>
                </div>
                <div class="stat-item"><div>
        
                    <h5>Created CV Template</h5>
                    <img src="/images/managementUV/pepicons-pop_cv.png" alt="">
                </div>
                    <p>0</p>
                </div>
                <div class="stat-item"><div>
        
                    <h5>Recruiter Viewed Profile</h5>
                    <img src="/images/managementUV/la_folder-open.png" alt="">
                </div>
                    <p>0</p>
                </div>
            </div>
        
            <!-- Job Listings -->
        
            <div class="hot-jobs">
                <h2>HOT JOBS</h2>
                <div class="grid-container">
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid2-container">
                            <div class="grid2-item1"><p style="margin: 10px 0 10px 0;">No Experience WFH ESL Teacher</p></div>
                            <div class="grid2-item2"><img style="width: 80px; height: 80px; margin: 0 10px 0 5px;" src="/images/managementUV/logocty1 1.png" alt=""></div>
                            <div class="grid2-items grid2-item3"><img src="/images/managementUV/local.png" alt=""><p>Batangas City, Batangas</p></div>  
                            <div class="grid2-items grid2-item4"><img src="/images/managementUV/salary.png" alt=""><p>₱22,000 – ₱25,000 per month</p></div>
                            <div class="grid2-items grid2-item5"><img src="/images/managementUV/time.png" alt=""><p>3d ago</p></div>  
                            <div class="grid2-items grid2-item6"><img src="/images/managementUV/chat.png" alt=""><p>Chat</p></div>  
                        </div>
                    </div>
                </div>

                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <span>...</span>
                    <a href="#">10</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        
            <div class="cv-list">
                <div class="cv-item">
                    <h2 class="sub-header">MY CV LIST</h2>
                    <div class="image">
                        <img src="/images/managementUV/CV-IT-phần-mềm-màu-1 2.png" alt="">
                        <img src="/images/managementUV/CV-IT-phần-mềm-màu-1 2.png" alt="">   
                    </div>          
                    <div class="see-more-btn">
                        <a href="#">See more &#187;</a>
                    </div>
                    
                </div>
                <div class="cv-item">
                    <h2 class="sub-header">HOT CV TEMPLATE FOR YOU</h2>
                    <div class="image">
                        <img src="/images/managementUV/CV-IT-phần-mềm-màu-1 2.png" alt="">
                        <img src="/images/managementUV/CV-IT-phần-mềm-màu-1 2.png" alt="">     
                    </div>
                    <div class="see-more-btn">
                        <a href="#">See more &#187;</a>
                    </div>
                    
                </div>
        
            </div>
        
            <div class="cv-writing-tips">
                <h2 class="sub-header">CV WRITING TIPS</h2>
                    <div class="cv-writing-tips-container">
                        <div class="cv-writing-tips-item">
                            <img src="/images/managementUV/tìm-việc-trong-48-tiếng-696x392 1.png" alt="">
                            <h3>What is self-doubt? How to Overcome Self-Doubt at Work</h3>
                            <p>Self-doubt refers to a lack of confidence in oneself, feeling inadequate, not good </p>
                        </div>
                        <div class="cv-writing-tips-item">
                            <img src="/images/managementUV/tìm-việc-trong-48-tiếng-696x392 1.png" alt="">
                            <h3>What is self-doubt? How to Overcome Self-Doubt at Work</h3>
                            <p>Self-doubt refers to a lack of confidence in oneself, feeling inadequate, not good </p>
                        </div>
                        <div class="cv-writing-tips-item">
                            <img src="/images/managementUV/tìm-việc-trong-48-tiếng-696x392 1.png" alt="">
                            <h3>What is self-doubt? How to Overcome Self-Doubt at Work</h3>
                            <p>Self-doubt refers to a lack of confidence in oneself, feeling inadequate, not good </p>
                        </div>  
                    </div>          
                    <div class="see-more-btn">
                        <a href="#">See more &#187;</a>
                    </div>
        
                </div>
            </div>
            <div>
            </div>
        </div>
    </main>
</body>
</html>
