* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  vertical-align: baseline;
  font-family: 'Roboto';
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-display: swap;
  src: url(/css/fonts/roboto-v16-vietnamese_latin-ext-regular.woff2);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-display: swap;
  src: url(/css/fonts/roboto-v16-vietnamese_latin-ext-500.woff2);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-display: swap;
  src: url(/css/fonts/roboto-v16-vietnamese_latin-ext-700.woff2);
}

.font_s24 {
  font-size: 24px;
}

.font_s20 {
  font-size: 20px;
}

.font_s18 {
  font-size: 18px;
}

.font_s16 {
  font-size: 16px;
}

.font_s15 {
  font-size: 15px;
}

.font_s14 {
  font-size: 14px;
}

.font_w700 {
  font-weight: 700;
}

.font_w600 {
  font-weight: 600;
}

.font_w500 {
  font-weight: 500;
}

.font_w400 {
  font-weight: 400;
}

.color_fff {
  color: #fff !important;
}

.color_451da0 {
  color: #451da0 !important;
}

.cl_red {
  color: red;
}

.cl_bl {
  color: black;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: 500;
}

.hidden {
  display: none;
}

.error-mess {
  color: red;
  font-size: 15px;
  font-weight: 400 !important;
  text-align: left;
}

.txt_alct {
  text-align: center;
}

.txt_alleft {
  text-align: left;
}

.cursor_pt {
  cursor: pointer;
}

.line_h30 {
  line-height: 30px;
}

.line_h24 {
  line-height: 24px;
}

.line_h18 {
  line-height: 18px;
}

.line_h16 {
  line-height: 16px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  position: relative;
  background: unset !important;
  color: #451da0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.select2-container--default .select2-results__option[aria-selected="true"]::before {
  content: "";
  background: url(/images/iconcv/Check.png), no-repeat;
  position: absolute;
  top: 5px;
  right: 0px;
  width: 24px;
  height: 24px;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: unset !important;
  color: #451da0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.dp_fl_fd_r {
  display: flex;
  flex-direction: row;
}

.fl-w {
  flex-wrap: wrap;
}

.dp_fl_fd_cl {
  display: flex;
  flex-direction: column;
}

.ai_ct {
  align-items: center;
}

.dp_fl_fd_cl_ai_ct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jc_ct {
  justify-content: center;
}

.d_flex {
  display: flex;
}

.fl_cl {
  flex-direction: column;
}

.sp_bw {
  justify-content: space-between;
}

.al_ct {
  align-items: center;
}

.g_5 {
  gap: 5px;
}

.g_10 {
  gap: 10px;
}

.w_500 {
  font-weight: 500;
}

.pt-10 {
  padding-top: 10px;
}

/* =========================css loader ====================*/
#loader {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
  padding-top: 150px;
  display: none;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-6 {
  border: 6px groove rgba(69, 29, 160, 1);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: loader-1-inner 1s ease-out alternate infinite;
  animation: loader-1-inner 1s ease-out alternate infinite;
}

.loader-6 .loader-inner {
  border: 0px inset rgba(69, 29, 160, 1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: border-zoom 1s ease-out alternate infinite;
  animation: border-zoom 1s ease-out alternate infinite;
}

.fieldgroup_controls :is(.fa-plus, .fa-minus, .fa-edit) {
  padding-right: 5px;
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes border-zoom {
  0% {
    border-width: 0px;
  }

  100% {
    border-width: 10px;
  }
}

@keyframes border-zoom {
  0% {
    border-width: 0px;
  }

  100% {
    border-width: 10px;
  }
}

/* ----------------     KEYFRAMES    ----------------- */

@-webkit-keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 75%;
  }
}

@keyframes line-grow {
  0% {
    height: 0;
  }

  100% {
    height: 75%;
  }
}

/* =================/end loader ======================*/

.divh1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.meta_h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

@media screen and (max-width:600px) {
  .divh1 {
    padding: 10px 0px;
  }
  .meta_h1 {
    font-size: 25px;
    line-height: 30px;
  }
}