.text_decoration {
    text-decoration: none;
    color: unset
  }
  
  .button_all {
    background: unset;
    border: unset
  }
  
  .font15_500 {
    font-size: 15px !important;
    font-weight: 400;
    line-height: 18px
  }
  
  .font16_500 {
    font-size: 16px !important;
    line-height: 18.75px;
    font-weight: 400
  }
  
  .none {
    display: none !important
  }
  
  .header_pc {
    display: flex
  }
  
  .header_mobile {
    display: none !important
  }
  
  .container_header {
    font-family: "Roboto";
    background-color: #285A9B;
    padding: 16px 28px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .1);
    border: 1px solid;
    position: fixed;
    width: -webkit-fill-available;
    z-index: 10;
  }
  
  .header_left {
    display: flex;
    gap: 32px;
    align-items: center
  }
  
  .div_logo {
    width: 125px;
    height: 46px;
    display: flex;
    align-items: center
  }
  
  .div_logo img {
    width: 100% !important;
    height: 100% !important;
  }
  
  .list_category {
    display: flex;
    gap: 32px
  }
  .header_right.bf-sign {
    display: flex;
  }
/* header after sign */
  .header_right.aft-sign{
    gap: 20px;
    display: none;
  }
  .btn_chat-365 {
    height: auto;
}
.infor_user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.name_user{
  color: #FFFFFF;
  font-size: 16px;
}
.noti_header_aft-sign {
  cursor: pointer;
}
  /* end-header_aft_sign */
  .node_cate a,
  .node_cate button {
    display: block;
    width: max-content;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 500;
    padding: 8px 0;
    cursor: pointer;
  }
  
  .img_all {
    width: 100%;
    height: 100%
  }
  
  .node_cate {
    display: flex;
    align-items: center;
    position: relative
  }
  
  .list_category {
    display: flex;
    gap: 32px
  }
  
  .header_right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 4px
  }
  
  .node_cate a {
    display: block;
    width: max-content;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 500;
    padding: 8px 0;
    color: #FFFFFF;
  }
  
  .img_person {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center
  }
  
  .node_cate {
    display: flex;
    align-items: center
  }
  
  .btn_service a {
    display: block;
    padding: 12px 12px;
    width: 110px;
    box-sizing: border-box
  }
  
  .btn_service {
    display: inline-block;
    border-radius: 6px
  }
  
  .dangky {
    background: #212f3f;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .btn_dangky {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
    text-align: center;
    border-radius: 6px;
    background-color: #212F3F;
  }
  
  .dangky a {
    padding-left: 0
  }
  
  .dangtin {
    border: solid 1px #3582cd;
    color: #000;
    text-align: center;
    background-color: #FFFFFF;
  }
  
  .dangnhap {
    background: #3582CD;
    color: #fff;
    text-align: center
  }
  
  .btn_person {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #e8f4ff;
    border-radius: 30px
  }
  
  .img_p {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center
  }
  
  @media (min-width:1024px) and (max-width:1366px) {
    .list_category {
      display: flex;
      gap: 15px !important
    }
  }
  
  @media screen and (max-width:1023px) {
    .header_pc {
      display: none
    }
  
    .header_mobile {
      display: flex !important
    }
  }
  
  @media screen and (max-width:400px) {
    .header_pc {
      display: none
    }
  
    .header_mobile {
      display: flex !important;
      box-shadow: none !important
    }
  
    .wrapper-sidebar {
      margin: 0 15px;
      display: none;
      align-items: center;
      right: 0;
      width: calc(100% - 30px)
    }
  }