* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* font-family: Arial, sans-serif; */
    display: flex;
    background-color: #f3f5f7;
    flex-direction: column;
}

main {
    display: flex;
    /* flex: 1; */
}

.sidebar {
    width: 300px;
    background-color: #285A9B;
    color: white;
    height: 140vh;
}

.sidebar div {
    padding: 10px 0;
}

.sidebar .logo {
    text-align: center;
}

.sidebar .logo img {
    width: 80px;
}

.logo h2 {
    font-size: 24px;
    text-align: center;
}

.sidebar-user-info {
    text-align: center;
    margin-top: 20px;
}

.sidebar-user-info ul {
    list-style-type: none;
}

.sidebar-user-info img {
    width: 80px;
    height: 80px;
}

.sidebar-user-info h3 {
    margin-top: 10px;
}

.sidebar .others div li {
    padding: 30px 0 0 40px;
    list-style-type: none;
}

.sidebar .others img {
    margin-right: 20px;
}

.sidebar-hover {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.others a {
    text-decoration: none;
    color: white;
    
}

.sidebar-hover a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #285A9B;
}


.sidebar-items {
    display: flex;
    align-items: center;
}

.sidebar-sub-items {
    display: flex;
    align-items: center;
    margin-left: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0;
}

.sidebar-sub-items a {
    padding-left: 25px;
}

.sidebar-vector {
    margin-left: auto;
    height: 10px;
}

.search-allow {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

.search-allow img {
    width: 44px;
    height: 21px;
    margin-left: 10px;
}

nav div {
    list-style-type: none;
    margin-top: 30px;
}

nav div li {
    margin-bottom: 15px;
}

nav div li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logout-btn {
    background-color: white;
    color: #285A9B;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.dang-xuat {
    display: flex;
    justify-content: center;
}

.main-content {
    flex: 1;
    /* padding: 20px; */
}



.avatar-name {
    display: flex;
    align-items: center;
}

.avatar-name p {
    margin-left: 10px;
}

.user-info a {
    text-decoration: none;
    
}

.support {
    font-size: 14px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    margin: 20px 40px;
    height: 76px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 1100px;
}

.user-info img {
    width: 114px;
    position: absolute;
    top: -20px; /* Để ảnh vượt ra ngoài div */
      left: 0px;
      z-index: 10; /* Cho ảnh nổi lên trên */
}

.user-info .avatar {
    position: relative;
}

.user-info-item {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.user-info-item a {
   color: #285A9B;
}

.cv-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin: 40px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.title {
    color: #285A9B;
}

.cv-image {
    display: flex;
    justify-content: left;
    padding: 20px 0 10px 10px;
}

.add-cv-btn {
    background-color: #ECF1F8;
    width: 336px;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 20px;
}

.add-cv-circle {
    background-color: #E0E0E0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.cv-images {
    width: 250px;
    height: auto;
}

.favorite-cv-image {
    display: flex;
    justify-content: left;
    padding: 20px 0 10px 10px;
    flex-wrap: wrap;
}

.favorite-cv {
    /* background-color: #fff; */
    padding: 20px;
    /* border-radius: 20px; */
    margin: 40px 40px;
}

.favorite-cv-image-item {
    margin-left: 10px;
}

.see-more-btn a {
    /* display: inline-block; */
    display: flex;
    padding: 10px 15px;
    background-color: #285A9B;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s ease;
}

.see-more-btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}