/* Chung */
/* @font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype')
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype')
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

button {
    background: unset;
    border: unset;
}

a {
    text-decoration: none;
    color: unset;
}

.ffffff {
    color: #ffffff !important;
}

.F8971C {
    color: #000;
    margin-left: 15px;
    font-size: 32px;
}

.font32_800 {
    font-size: 32px !important;
    font-weight: 700;
    line-height: 38px;
}

.font20_500 {
    font-size: 20px !important;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}

.font16_500 {
    font-size: 16px !important;
    line-height: 18.75px;
    font-weight: 400;
}

.font28_700 {
    font-size: 28px;
    font-weight: 600;
}

.select2-container--default .select2-selection--single {
    border: none !important;
}

.pt60 {
    padding: 30px 30px;
}

img {
    width: 100%;
    height: 100%;
}

.cl3582CD {
    color: #3582cd;
}

p {
    color: #474747;
}

.bg_3582CD {
    background: #3582cd !important;
}

.bd_3582CD {
    border: 1px solid #3582cd !important;
}

.bg_fff {
    background: #fff;
}

.img70 {
    width: 70px;
    height: 70px;
}

.pt64 {
    padding-bottom: 40px;
}

.box_img {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* Hết chung */

/* Body */
.container_Trangchu {
    background: #ECF0F6;
}

.container_Trangchu .wrapper {
    display: flex;
    flex-direction: column;
}

.container_Trangchu .wrapper .wrapper_child {
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Banner */

.container_Trangchu .wrapper .wrapper_child .banner_top {
    width: 100%;
    /* height: 435px; */
    display: flex;
    align-items: center;
    background-position: center top;
    padding: 20px 30px;;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
    width: 100%;
    /* height: 435px; */
    display: flex;
    align-items: center;
    background-position: center top;
    padding: 20px 30px;;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
    display: none;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68%;
    height: 435px;
    height: auto;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68%;
    height: 435px;
    height: auto;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left {
    display: flex;
    flex-direction: column;
    /* padding: 101px 0px; */
    gap: 24px;
    width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job {
    max-width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 35px;
    padding: 7px 8px 7px 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 19px 0px #00000026;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form-mobile {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 35px;
    padding: 7px 8px 7px 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 19px 0px #00000026;
    position: relative;
    margin-bottom: 10px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search {
    display: flex;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px 0 16px;
    gap: 10px;
}
.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left {
    display: flex;
    flex-direction: column;
    /* padding: 101px 0px; */
    gap: 24px;
    width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job {
    max-width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 35px;
    padding: 7px 8px 7px 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 19px 0px #00000026;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form-mobile {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 35px;
    padding: 7px 8px 7px 0;
    box-sizing: border-box;
    box-shadow: 0px 4px 19px 0px #00000026;
    position: relative;
    margin-bottom: 10px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search {
    display: flex;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px 0 16px;
    gap: 10px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 1px;
    height: 26px;
    background-color: #ccc;
}
.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 1px;
    height: 26px;
    background-color: #ccc;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position .img_box_form {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form input,
.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form select {
    height: 58px;
    border: unset;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form input.search_pojob {
    width: 203px;
    color: #999999;
    outline: none;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job {
    position: absolute;
    height: 250px;
    top: 70px;
    width: 120%;
    background: white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 15px;
    visibility: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered {
    width: 35%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job p {
    height: 30px;
    font-size: 13px;
    line-height: 15px;
    color: #888;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job ul {
    list-style: none;
    height: 190px;
    overflow-y: scroll;
    display: block;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job ul li {
    font-size: 14px;
    color: #4f4f4f;
    line-height: 1.428571429;
    float: left;
    width: 50%;
    margin: 6px 0;
    cursor: pointer;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered .job-list-history {
    display: block !important;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered .job-list-history li {
    float: none;
    width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have {
    width: 65%;
    border-left: 2px solid #f5f5f5;
    padding: 0 0 0 10px;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have .job_have_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have .job_have_title .job_have_close {
    font-size: 32px;
    color: gray;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: -14px;
    right: 0;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position_addr {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position_addr .img_box_form {
    width: 22px;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean .img_box_form {
    width: 22px;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position_addr .select_addr_pc {
    width: 203px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form button.submit_job {
    width: 123px;
    padding: 16px 20px;
    background: #285A9B;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .box_keyword {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .box_keyword .list_keyword {
    display: flex;
    align-items: center;
    gap: 50px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .box_keyword .list_keyword a {
    padding: 8px 16px;
    display: flex;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .box_keyword .list_keyword a.active {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff !important;.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .box_keyword .list_keyword
    font-weight: 500;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_right {
    display: flex;
    align-items: center;
    margin-right: -110px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_right .img_sm_rb {
    width: 195.63px;
    height: 205px;
    display: flex;
    align-items: center;

    -webkit-animation: sm_rb_fly 300ms infinite ease-in-out;
    animation: sm_rb_fly 300ms infinite ease-in-out;
    animation-duration: 3.5s;
}

.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_right .img_big_rb {
    width: 348.76px;
    height: 413.37px;
    display: flex;
    align-items: center;

    -webkit-animation: big_rb_animation 300ms infinite ease-in-out;
    animation: big_rb_animation 300ms infinite ease-in-out;
    animation-duration: 3.5s;
}


.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 1px;
    height: 26px;
    background-color: #ccc;
}
.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 1px;
    height: 26px;
    background-color: #ccc;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position .img_box_form {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form input,
.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form select {
    height: 58px;
    border: unset;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form input.search_pojob {
    width: 203px;
    color: #999999;
    outline: none;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job {
    position: absolute;
    height: 250px;
    top: 70px;
    width: 120%;
    background: white;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    padding: 15px;
    visibility: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered {
    width: 35%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job p {
    height: 30px;
    font-size: 13px;
    line-height: 15px;
    color: #888;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job ul {
    list-style: none;
    height: 190px;
    overflow-y: scroll;
    display: block;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job ul li {
    font-size: 14px;
    color: #4f4f4f;
    line-height: 1.428571429;
    float: left;
    width: 50%;
    margin: 6px 0;
    cursor: pointer;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered .job-list-history {
    display: block !important;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered .job-list-history li {
    float: none;
    width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have {
    width: 65%;
    border-left: 2px solid #f5f5f5;
    padding: 0 0 0 10px;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have .job_have_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have .job_have_title .job_have_close {
    font-size: 32px;
    color: gray;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: -14px;
    right: 0;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position_addr {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position_addr .img_box_form {
    width: 22px;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean .img_box_form {
    width: 22px;
    height: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position_addr .select_addr_pc {
    width: 203px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form button.submit_job {
    width: 123px;
    padding: 16px 20px;
    background: #285A9B;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .box_keyword {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .box_keyword .list_keyword {
    display: flex;
    align-items: center;
    gap: 50px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .box_keyword .list_keyword a {
    padding: 8px 16px;
    display: flex;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .box_keyword .list_keyword a.active {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff !important;.container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .box_keyword .list_keyword
    font-weight: 500;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_right {
    display: flex;
    align-items: center;
    margin-right: -110px;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_right .img_sm_rb {
    width: 195.63px;
    height: 205px;
    display: flex;
    align-items: center;

    -webkit-animation: sm_rb_fly 300ms infinite ease-in-out;
    animation: sm_rb_fly 300ms infinite ease-in-out;
    animation-duration: 3.5s;
}

.container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_right .img_big_rb {
    width: 348.76px;
    height: 413.37px;
    display: flex;
    align-items: center;

    -webkit-animation: big_rb_animation 300ms infinite ease-in-out;
    animation: big_rb_animation 300ms infinite ease-in-out;
    animation-duration: 3.5s;
}
@keyframes sm_rb_fly {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes big_rb_animation {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

a.text_decoration img {
    width: 13px;
    height: 10px;
}

/* Hết banner */

.container_Trangchu .wrapper .wrapper_child .box_wrap {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    flex-wrap: wrap;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company {
    width: 1265px;
    /* padding: 0 360px; */
    background-color: #FFFFFF;
    border-radius: 20px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_left .wrapper_company {
    width: 100%;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .job_hapdan {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    column-gap: 20px;
    padding: 20px;
    background-color: #ECF0F6;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 20px;
    width: 375px;
    /* margin-top: 24px; */
    /* margin-right: 16px; */
    border: 1px solid #fff;
    justify-content: space-between;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company:hover {
    border: 1px solid #3582cd;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.company_info-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
}

.company_info-title {
    text-align: center;
    color: #114486;
    padding-bottom: 10px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .avata_com {
    /* width: 60px;
    height: 60px; */
    display: flex;
    align-items: center;
    /* border: 1px solid #3582cd80; */
    border-radius: 50px;
    position: relative;
    object-fit: cover;
    margin-right: 8px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .avata_com img {
    border-radius: 50px;
    color: transparent;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com {
    width: 100%;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    gap: 8.5px;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .title_com {
    position: relative;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .title_com:hover {
    color: #5f9cd9;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .title_com:hover .title-com {
    display: flex;
    position: absolute;
    top: -48px;
    left: 0;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #313131;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
}

.tooltip_content {
    position: relative;
    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arrow {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 0;
    width: 0;
    border-top: 8px solid #000;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transform: translateX(-50%) translateY(100%);
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .title-com,
.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .title-com .name-com {
    display: none;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .name_com {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .more_info_com {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .more_info_com .mor_1 {
    color: #646464;
    font-size: 14px;
    line-height: 16.41px;
    padding: 4px 8px;
    background: #f8f8f8;
    border-radius: 4px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .pagination_com {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
    /* background-color: #FFFFFF; */
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .pagination_com .show_tag {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .pagination_com .list_pag {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .pagination_com .list_pag .item_pag {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    border: solid 1px #999999;
    color: #999999;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv {
    display: flex;
    justify-content: center;
    padding: 17px 0;
    background: url(/images/img/banner2.png) no-repeat;
    background-size: 100% 100%;
    background-position: center top;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    /* height: 500px; */
    height: auto;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe {
    /* width: calc(100% - 451px); */
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 52px 18px;
    gap: 16px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .text_des_cv {
    line-height: 21.6px !important;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .dou_btn {
    display: flex;
    gap: 20px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .dou_btn .create_cvo {
    display: flex;
    align-items: center;
    padding: 14px 39px;
    border-radius: 30px;
    border: 1px solid #fff;
    gap: 5px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .dou_btn .create_cvo .img_cr_cv {
    display: flex;
    align-items: center;
    width: 28.7px;
    height: 28.75px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .dou_btn .upload_cvo {
    display: flex;
    align-items: center;
    background: #ffab2e;
    padding: 7px 13.23px 6.25px 23.23px;
    border-radius: 5px;
    gap: 10px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .dou_btn .upload_cvo .img_upload {
    display: flex;
    align-items: center;
    width: 28.7px;
    height: 28.75px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .img_cv {
    position: relative;
    display: flex;
    align-items: center;
    width: 368px;
    height: 255px;
}

.container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .img_cv .img_up {
    position: absolute;
    display: flex;
    align-items: center;
    width: 69px;
    height: 69px;
    right: 0;
    top: 0;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .tt_job_outstanding {
    display: block;
    text-align: center;
    color: #3582cd;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .tt_job_outstanding span {
    font-size: 24px;
    font-weight: 600;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 20px
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding {
    width: 266px;
    height: 202px;
    /* margin-right: 44px;
    margin-top: 32px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f5f7;
    gap: 20px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding:hover {
    box-shadow: rgba(53, 130, 205, 0.5) 0px 8px 24px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding .tt_e_job {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #3582cd;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding .tt_e_job .job_o {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: #333333;
    margin-bottom: 12px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news {
    position: relative;
    margin-top: 40px;
    display: flex;
    gap: 15px;
    padding: 0 40px;
    justify-content: center;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    /* position: absolute; */
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_left {
    cursor: pointer;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_right {
    cursor: pointer;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box {
    /* width: 280px; */
    background: #fff;
    /* cursor: pointer; */
    border: 1px solid #3582cd80;
    margin-bottom: 4px;
    border-radius: 20px;
    overflow: hidden;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box:hover {
    box-shadow: rgba(53, 130, 205, 0.5) 0px 8px 24px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .img_news {
    width: 100%;
    /* height: 185px; */
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news {
    display: flex;
    flex-direction: column;
    padding: 12px 0 16px 0;
    align-items: center;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news a:hover {
    color: #3582cd;
    text-decoration: underline;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .tt_ct_news {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .date_name {
    display: flex;
    margin-top: 20px;
    margin-bottom: 14px;
    align-items: center;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .date_name .date {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #666666;
    display: block;
    box-sizing: border-box;
    padding-right: 10px;
    /* background: url(/images/i.png) no-repeat;
    background-position: right center; */
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .date_name .name_n {
    display: block;
    padding-left: 10px;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .date_name .name_n span {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    box-sizing: border-box;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .date_name .name_n .f_n {
    color: #f92d00;
}

.container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .see_news {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #333333;
    padding-bottom: 10px;
    background: url(/images/ngang.png) no-repeat;
    background-size: 40px 1px;
    background-position: center bottom;
}
.banner_top {
    background: url(/images/img/banner1.png) no-repeat;
    background-size: 100% 100%;
}


/* Media */
@media screen and (max-width: 1920px) {
    .container_Trangchu .wrapper .wrapper_child .banner_top {
        /* background-size: unset; */
        position: relative;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv {
        /* background-size: unset; */
    }
}

@media screen and (max-width: 1365px) {
    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner {
        /* width: 830px; */
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search {
        width: calc(100% - 123px);
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form input.search_pojob {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_right {
        width: unset;
        margin-right: 0;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_right .img_sm_rb {
        display: none;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_right .img_big_rb {
        width: 242px;
        height: 281.83px;
        margin-bottom: unset;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company {
        width: 100%;
        margin: 0 40px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_left .wrapper_company {
        width: 100%;
        margin: 0;
    }

    /* .box_wrap_right {
        width: 360px;
    } */
    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company {
        justify-content: space-around;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company {
        width: 325px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv {
        background-position: right top;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner {
        width: 976px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe {
        width: calc(100% - 390px);
        padding: 55px 0;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .text_cvonl {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .img_cv {
        width: 308px;
        height: 213px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .img_cv .img_up {
        width: 58px;
        height: 58px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding {
        width: 228px;
        /* margin-right: 20px; */
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_left {
        left: -10px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_right {
        right: -10px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news {
        gap: 23px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box {
        width: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .container_Trangchu .wrapper .wrapper_child .banner_top {
        display: none;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
        display: flex;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
        background-image: url(/images/img/banner1_1024.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
    }

    .pt60 {
        padding-top: 32px;
        padding-bottom: 32px;
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean {
        padding-left: 30px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position::after {
        display: none;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search {
        display: flex;
        justify-content: center;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form input.search_pojob{
        text-align: center;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form {
        justify-content: center;
        margin-bottom: 10px;
    }
    button.submit_job {
        width: 123px;
        padding: 16px 20px;
        background: #285A9B;
        color: #fff;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company {
        width: 360px;
        margin-top: 16px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info .box_detail_com .box_tt_c .title_com {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .pagination_com {
        margin-top: 16px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv {
        padding: unset;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner {
        width: 736px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe {
        width: calc(100% - 280px);
        padding: 56px 0;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .text_cvonl {
        font-size: 18px;
        line-height: 21px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .text_des_cv {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 19px !important;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .img_cv {
        width: 227px;
        height: 157px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .img_cv .img_up {
        width: 44px;
        height: 44px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .tt_job_outstanding span {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding {
        justify-content: center;
        margin-top: 20px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding {
        width: 170px;
        /* margin-right: 12px; */
        margin-top: 20px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_left {
        left: -4px;
        z-index: 3;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_right {
        right: -4px;
        z-index: 3;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news {
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
        row-gap: 50px;
        column-gap: 25px;
        flex: wrap;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .img_news .img_df {
        width: 150px;
        height: 90px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box {
        width: 145px;
        /* margin-right: 25px; */
        margin-top: unset;
    }
    .news_child:nth-child(4){
        display: none;
    }
    .handbook_child:nth-child(3),
    .handbook_child:nth-child(4){
        display: none;
    }
    .list_handbook {
        gap: 60px !important;
    }
    .handbook_child {
        width: 30% !important;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_left {
        width: 100%;
        margin: 0 30px;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_right {
        width: 100%;
        margin: 20px 30px 0 30px;
    }

}

@media screen and (min-width: 425px) and (max-width: 769px) {
    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner {
        width: 100%;
    }

    html {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 767px) {
    .container_Trangchu .wrapper .wrapper_child .banner_top {
        display: none;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
        display: flex;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
        background-image: url(/images/img/banner1_768.png);
        background-position: center top;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap {
        padding: 0 16px;
        margin: 40px 0;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_left {
        width: 100%;
        margin: 0 0px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company {
        width: 100%;
        margin: 0;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company {
        margin: 8px 0px !important;
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv {
        /* background: url(/images/bannercv_768.svg) no-repeat;
        background-position: center top; */
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe {
        padding: 42px 26px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 32px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box {
        margin: 10px 0 !important;
        width: 100% !important;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean {
        padding-left: 30px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position::after {
        display: none;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search {
        display: flex;
        justify-content: center;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form input.search_pojob{
        text-align: center;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form {
        justify-content: center;
        margin-bottom: 10px;
    }
    button.submit_job {
        width: 123px;
        padding: 16px 20px;
        background: #285A9B;
        color: #fff;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news {
        padding: 0;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news {
        flex-wrap: nowrap;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_right {
        width: 100%;
        margin: 20px 0px 0 0px;
    }
}

@media screen and (max-width: 680px) {
    .container_Trangchu .wrapper .wrapper_child .banner_top {
        display: none;
    }
    .news_child:nth-child(3) {
        display: none;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: url(https://job247.vn/public/images/trang-chu/home/banner-top.webp); */
        /* background-size: 100% 435px; */
        /* background-position: top; */
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_left {
        width: 100%;
        margin: 0 0px;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_clean {
        padding-left: 30px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .box_position::after {
        display: none;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form .wrapper_search {
        display: flex;
        justify-content: center;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form input.search_pojob{
        text-align: center;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form {
        justify-content: center;
        margin-bottom: 10px;
    }
    button.submit_job {
        width: 123px;
        padding: 16px 20px;
        background: #285A9B;
        color: #fff;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .form_search_job .box_form input.search_pojob{
        width: 100%;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_banner .content_bn_left .box_keyword .list_keyword {
        gap: 0;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company {
        width: 100%;
        margin: 0;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe {
        width: 70%;
        padding: 42px 0px;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_right {
        width: 100%;
        margin: 20px 0px 0 0px;
    }
    .line_hl {
        display: none;
    }
    .contact_info .about_container {
        gap: 10px;
    }
}

@media screen and (max-width: 430px) {
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_left {
        width: 100%;
        margin: 0 0px;
    }
    .pt60 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .all_job_filtered {
        width: 100%;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top .box_banner .content_bn_left .form_search_job .box_form .wrapper_search .all_job .job_have {
        display: none;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_container {
        margin: 32px 22px !important;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_container .all_job_filtered {
        position: absolute;
        top: 50px;
        width: 100%;
        background: #fff;
        border-radius: 12px;
        z-index: 1000;
        padding: 10px;
        visibility: hidden;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_container .all_job_filtered p {
        height: 30px;
        font-size: 13px;
        line-height: 15px;
        color: #888;
        margin-top: 4px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_container .all_job_filtered .job_have_close_mobile {
        font-size: 32px;
        color: gray;
        z-index: 1000;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_container .all_job_filtered .job-list {
        list-style: none;
        height: 120px;
        overflow-y: scroll;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_top_mobile .box_container .all_job_filtered .job-list li {
        float: none !important;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 1.428571429;
        width: 100%;
        margin: 10px 0;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap {
        padding: 0 16px;
        margin: 20px 0;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company {
        width: 100%;
        margin: 0;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_company .detail_company .company_info {
        max-width: 356.4px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding {
        width: 100%;
        gap: 10px;
        justify-content: space-around;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_box_job_outstanding .item_outstanding {
        width: 142px;
        margin-left: 0;
        margin-right: 0;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news {
        margin: 40px 16px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_left {
        position: absolute;
        margin-left: 80px;
        margin-bottom: -40px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .show_com_onl.show_right {
        margin-right: 80px;
        margin-bottom: -40px;
    }

    .container_Trangchu .wrapper .wrapper_child .box_wrap .wrapper_company .list_news .many_news .news_box .ct_news .date_name {
        height: 38px;
    }

    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .text_cvonl {
        font-size: 14px;
    }
    .container_Trangchu .wrapper .wrapper_child .banner_taocv .box_banner .box_describe .dou_btn .create_cvo {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        border-radius: 30px;
        border: 1px solid #fff;
        gap: 5px;
    }
    .container_Trangchu .wrapper .wrapper_child .box_wrap .box_wrap_right {
        width: 100%;
        margin: 20px 0px 0 0px;
    }
    .list_handbook{
        flex-direction: column;
    }
    .handbook_child {
        width: 100% !important;
    }
    .img_handbook {
        width: 100% !important;
        height: 187.5px;
    }
}

/* Functions */
.all_job_show {
    visibility: visible !important;
    z-index: 100;
}


.displayNone {
    display: none !important;
}

.title {
    text-align: center;
}

.btn_search_down {
    padding-right: 15px;
}

.img_more{
    width: 20px;
    height: 20px;
}

.img_down{
    width: 20px;
    height: 20px;
}

.img_list {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.img_noti {
    width: 45px;
    height: 45px;
    /* margin-right: 10px; */
}

.img_ava {
    width: 80px;
    height: 80px;
}

.img_ava-chat {
    width: 60px;
    height: 60px;
}

.img_banner2 {
    width: 165px;
    height: 118px;
}

.img_hotjob {
    width: 28px;
    height: 28px;
}

.img_df {
    width: 150px;
    height: 150px;
}
.img_handbook {
    width: 250px;
    height: 187.5px;
}

.border-listkey{
    border: 1px solid #fff;
    border-radius: 30px;
}

.box_wrap_left {
    background-color: #FFFFFF;
    width: 70%;
}

.box_tt {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.box_wrap_right {
    width: 25%;
    margin-left: 20px;
}
.box-chat-title {
    padding: 30px 90px;
    background-color: #285A9B;
    color: #fff;
    text-align: center;
    font-weight: 500;
}
.chat-item {
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.chat-item-tt {
    margin-left: 10px;
    font-size: 20px;
}

a.avata_com.active::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #4ECB71;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 65px;
}
.list_support {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.hl_employee,
.hl_seeker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empl_support {
    display: flex;
    align-items: center;
}
.hl-title {
    color: #3A35AA;
    font-size: 16px;
}
.hotline{
    color: #FF0D0D;
    font-size: 16px;
}
.employee_detail,
.seeker_detail {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.employee_child,
.seeker_child {
    padding: 0 10px;
    text-align: center;
}
button.btn_hl {
    border: 1px solid #3A35AA;
    border-radius: 20px;
    padding: 10px;
}
.line_hl {
    border-right: 2px solid rgb(0, 0, 0, 50%);
}
button.btn_consult-hl {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #285A9B;
    border: 1px solid #285A9B;
    border-radius: 30px;
    padding: 10px;
}
.car_handbook {
    text-align: center;
}
.list_handbook {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}
.handbook_child {
    width: 20%;
    border: 1px solid rgb(0, 0, 0, 30%);
    border-radius: 30px;
    overflow: hidden;
}
.handbook_box {
    padding: 10px 20px 20px 20px;
}
.title_hanbook {
    font-size: 16px;
}
.des_handbook {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
button.btn_handbook {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto 0;
    color: #285A9B;
    background-color: #DCE3EE;
    padding: 10px 15px;
    border-radius: 20px;
}