<div class="show-cv-thamkhao">
    <div class="container_show_cvthamkhao">
        <div class="close_cv_thamkhao">
            <p class="txt_close_cvtk">X</p>
        </div>
        <img src="" alt="Cv tham khảo" class="img-cv-thamkhao">
    </div>
   <div class="button_sudungmau">
        <a class="button_usesamplecv" rel="nofollow" href="">Sử dụng mẫu này</a>
   </div>
</div>