<div id="imageEditorWraper">
    <div class="container">
        <h3>Chỉnh sửa ảnh đại diện</h3>
        <div class="editor-col-left">
            <h4>Ảnh gốc</h4>
            <div class="imageEditor" style="display:none;">
                <img id="image" src="">
            </div>
            <div class="editorChooseImage">
                <label for="inputImage" class="btn-choose-image" title="Upload image file">
                    <input type="file" class="sr-only" id="inputImage" name="avatar" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                    <span><i class="fa fa-picture-o"></i><br>Click chọn ảnh để tải lên!</span>
                </label>
            </div>
            <div class="image-controls" style="display: none;">
                <div class="image-control-group">
                    <button class="image-control-btn btn-zoom-in-image">
                        <span class="fa fa-search-plus"></span>
                    </button>
                    <button class="image-control-btn btn-zoom-out-image">
                        <span class="fa fa-search-minus"></span>
                    </button>
                </div>
                <div class="image-control-group">
                    <button class="image-control-btn btn-rotate-left">
                        <span class="fa fa-rotate-left"></span>
                    </button><button class="image-control-btn btn-rotate-right">
                        <span class="fa fa-rotate-right"></span>
                    </button>
                </div>
            </div>
            <div id="tipCompress">Nếu ảnh của bạn có dung lượng trên 5MB, vui lòng giảm dung lượng ảnh.</div>
            <div class="loadingShow" style="display: none;">
                <i class="fa fa-spinner fa-spin"></i>
                <br><br>
                <span class="loadingMessage">Đang tải ảnh lên ...</span>
            </div>
        </div>
        <div class="editor-col-right">
            <h4>Ảnh hiển thị trên CV</h4>
            <div class="imageEditorControls">
                <div class="img-edit-preview" style="border: 1px solid #efefef;"><img src="/images/no_avatar.jpg">
                </div>
                <div class="edit-image-btns" style="display: none;">
                    <label id="title-change" for="inputImage1" type="button" class="btn-change-image">
                        <input type="file" class="sr-only" id="inputImage1" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                        Đổi ảnh
                    </label>
                    <button type="button" class="btn-remove-image">Xóa ảnh</button><br>
                </div>
                <div>
                    <button type="button" class="btn-save-image" name="upload">Xong</button>
                </div>
                <div>
                    <a href="javascript:void(0)" class="btn-close-image-editor" title="Đóng trình chỉnh sửa (Không lưu thay đổi)">Đóng lại (Không lưu)</a>
                </div>
                <form action="" method="post" id="saveEditedAvatar" style="display: none;">
                    <input type="text" name="cropx" id="dataX" value="0">
                    <input type="text" name="cropy" id="dataY" value="0">
                    <input type="text" name="cropw" id="dataWidth" value="280">
                    <input type="text" name="croph" id="dataHeight" value="280">
                    <input type="text" name="rotate" id="dataRotate" value="0">
                    <input type="text" name="tile" id="dataTile" value="1">
                    <input type="text" name="cv_alias" id="cv_alias" value="Mẫu CV Kế Toán">
                </form>
            </div>
        </div>
    </div>
</div>