<div class="overlay zoom_cv cv_mau_new d_none" id="cv_mau_new">
    <div class="wapper">
        <div class="auth_form po_r">
            <div class="p_left">
                <div class="tle_cls">
                    <p style="color: #fff; font-family: Roboto;">Xem trước</p>
                    <img src="/images/iconcv/icon_close.png" alt="close" class="close_zoom_cv cursor_pt">
                </div>
                <div class="frame_img">
                    <img class="img_cv d_none" src="" alt="CV">
                </div>
            </div>
        </div>
    </div>
</div>